header{
    background-image: url("../images/header.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
}
h1{
    font-family: 'Robot Slab',serif;
    color: white;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}
