header{
    background-image: url(../images/header.jpg);
    height: 500px;
    background-size: cover;
    background-position:top;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    justify-content: center ;
    
    
    
    
}
h1{
    
    justify-content: center;
    color: white;
    font-family: "Robot Slab";
    width:780px;
    font-size: 36px;
    text-align: center;
    
    
    
}
#author {
    display:flex;
    align-items: center;
    flex-direction: column;
    width:100%;
  }
  
  #avt {
    background-image: url("../images/vrk.png");
    background-size: cover;
    background-position:center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border: 1px solid white;
  }
  
  #author-text {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: rgb(51, 51, 51);
    line-height: 24px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
  }
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#body-container{
    width: 66.67%;
    position:relative;
    margin-top: 60px;
}
.title{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight:bold;
    color: rgb(51,51,51);
}
.number{
    position:absolute;
    right:40px;
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: bold;
    color:  rgba(0, 0, 0, 0.25);
}
.line-break{
    height: 20px;
}
.items-container-number {
    position:absolute;
    right:100%;
}
.content{
    font-family: 'Source Sans Pro', serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
}
.recommendation{
    font-weight: bold;
}
img{
    width:100%;
}
a {
    color: #42b4d6;
    text-decoration: none;
    font-weight:normal;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
  }
  
  a:hover {
    text-decoration:underline;
  }